<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>DB_Driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Url</param-name>
        <param-value>jdbc:derby://localhost:1527/PrimalityTestDB</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Login</param-name>
        <param-value>Admin1</param-value>
    </context-param>
    <context-param>
        <param-name>DB_Password</param-name>
        <param-value>AdminPW</param-value>
    </context-param>
    <servlet>
        <servlet-name>CalcServlet</servlet-name>
        <servlet-class>pl.polsl.java.marczyk.servlets.PrimalityTestCalc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>pl.polsl.java.marczyk.servlets.PrimalityTestData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>pl.polsl.java.marczyk.servlets.ShowCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>pl.polsl.java.marczyk.servlets.InitDB</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/CalcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
